
snippet box "Box"
`!p snip.rv = '┌' + '─' * (len(t[1]) + 2) + '┐'`
│ $1 │
`!p snip.rv = '└' + '─' * (len(t[1]) + 2) + '┘'`
$0
endsnippet

snippet momref "Groff mom reference"
%A $1
%T $2
%I $3
%O $4
%D $5
$0
endsnippet
