snippet video
<video autoplay muted playsinline preload loop>
  <source src="$1" type="video/mp4">
  Your browser cannot play this video, try downloading it
  <a href="$1">here.</a>
</video>
$0
endsnippet
